body {
  margin: 0;
  padding: 0;

  font-family: "Lora";
  background-color: rgba(102, 94, 94, 0.925);
}

.container {
  text-align: center;
}
.contain {
  position: relative;
  width: 50%;
}
.contain img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.contain .butn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn {
  background-image: "https://image.flaticon.com/icons/svg/1807/1807616.svg";
  border: 1px solid salmon;
  background: rgb(201, 90, 77);
  padding: 10px 20px;
  width: 3cm;
  font-size: 20px;
  font-family: "montserrat";
  font-weight: 200;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: white;
}
.btn:hover {
  color: black;
  height: 0%;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.8s;
  color: salmon;
  top: 0;
  border-radius: 50% 50% 0 0;
}

.footer {
  background-color: rgba(0, 0, 0, 0.514);
  margin-top: 3rem;

  color: rgb(243, 168, 159);
  text-align: center;
  height: 2.1;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-block;
}
#grad {
  background-image: linear-gradient(grey, white);
}

#bottomDiv {
  position: absolute;
  bottom: 0px;
}

.grid {
  display: grid;

  grid-template-columns: 1fr;

  grid-template-rows: 1fr 1fr 1fr;
}

@media (min-width: 550px) {
  .grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr;
  }
}

.para {
  font-size: 1.5rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  font-family: "Courier New", Courier, monospace;
}
.cntr {
  text-align: center;
  color: antiquewhite;
}

.box {
  padding: 0;

  margin: auto;
  text-align: center;
  color: white;
  font-family: "Century Gothic", sans-serif;
}

.box p {
  text-align: justify;
}
ul {
  margin: 0;
  padding: 0;
}
.box li {
  display: inline-block;
  margin: 10px;
  list-style: none;
}
.box li a {
  color: rgb(238, 207, 207);
  text-decoration: none;
  font-size: 30px;
  transition: all ease-in-out 250ms;
}
.box li a:hover {
  color: #000000;
}
